<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
</head>
<body>

<!--<div>
    <button th:onclick="|document.location = '@{/account/}'|" type="button">Back to account</button>
</div>

<div>
    <label for="title">Title:</label>
    <label id="title" name="title" th:text="${title}">Title of the note </label>
</div>

<div>
    <label for="creationTime">Creation Time:</label>
    <label id="creationTime" name="creationTime" th:text="${creationTime}">Creation Time </label>
</div>

<div>
    <textarea id="textarea" name="text" rows="4" cols="50" style="resize:none" readonly
              th:text="${text}"> Text of the note</textarea>
</div>-->

<button th:onclick="|document.location = '@{/account/}'|" type="button">Back to account</button>
</div>

<div>
    <label for="name">Name:</label>
    <label id="name" name="name" th:text="${name}">Title of the event </label>
</div>

<div>
    <label for="place_name">Place name:</label>
    <label id="place_name" name="place_name" th:text="${place_name}">Place name </label>
</div>

<div>
    <label for="place_city">City:</label>
    <label id="place_city" name="place_city" th:text="${place_city}">City </label>
</div>

<div>
    <label for="place_country">Country:</label>
    <label id="place_country" name="place_country" th:text="${place_country}">Country </label>
</div>

<div>
    <label for="date">Date:</label>
    <label id="date" name="date" th:text="${date}">Date </label>
</div>


</body>
</html>